@model HerefordSecuritiesLtd.Entities.SiteData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SiteData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntroLead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntroLead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalQuals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalQuals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
