@model IEnumerable<HerefordSecuritiesLtd.Entities.SiteData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
	<table class="table table-striped table-condensed">
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th>Id</th>
					<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.IntroLead)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.Intro)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.Education)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.ProfessionalQuals)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.Expertise)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.Interests)
			</th>
			</tr>

	@foreach (var item in Model) {
		<tr>

				<td>
				<div class="table-row-condensed">
					@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				</div>
			</td>
			<td>
				<div class="table-row-condensed">
					@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				</div>
			</td>
			<td>
				<div class="table-row-condensed">
					@Html.ActionLink("Delete", "Delete", new { id=item.Id })
				</div>
			</td>

				<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.Id)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.Name)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.IntroLead)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.Intro)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.Education)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.ProfessionalQuals)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.Expertise)
				</div>
			</td>
					<td>
				<div class="table-row-condensed">
					@Html.DisplayFor(modelItem => item.Interests)
				</div>
			</td>
			</tr>
	}

	</table>
</div>
