
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hereford Securities Ltd</title>
    <meta name="description" content="This site provides information about the services and client history of Hereford Securities Ltd. Trading company for Simon Da Vall" />
    <meta name="keywords" content="Simon Da Vall, Da Vall, Hereford Securities, HSL, C#, C# Development, Web Development, Asp.Net" /> 

    <link rel="Stylesheet" href="~/css/reset.css" />
    <link rel="Stylesheet" href="~/css/hsl.css" />
    <link rel="Stylesheet" href="~/css/cv.css" />

    <script src="~/scripts/hsl.js" type="text/javascript"></script>
</head>

<body>
<div id="container">
<div id="header">
    <div id="logo">
        <img id="HSL_logo" src="~/images/HSL_Logo.gif" alt="Hereford Securities Ltd" />
    </div>
    <div id="navbar">
        @Html.ActionLink("HOME", "Index") | @Html.ActionLink("SERVICES", "Services") | @Html.ActionLink("CONTACT", "ContactMe") <br />
        @Html.ActionLink("LEGACY HOME", "LegacyHome") | @Html.ActionLink("LEGACY SERVICES", "LegacyServices") | @Html.ActionLink("LEGACY CONTACT", "LegacyContactMe")
    </div>
</div>


<!-- Put blue and grey boxes in this section -->


<div id="mainContent">
<div id="contentColumn">
    <h2>Curriculum Vitae</h2>
    <p class="pdfDownload bluelinks">
        <img class="pdfImage" src="~/images/download.png" alt="" width="9" height="10" /> 
        <a class="pdfDownload" href="~/downloads/SimonDaVall-CV.pdf" target="_blank">Download pdf version</a><br />
    </p>

    <!-- CV start -->

    <!-- CV Header -->
    <p class="cvAddress">
        38 Gibbon Road, Kingston, KT2 6AB<br />
        07740 423523<br />
        <script type="text/javascript">disea();</script>
    </p>
    
    <p class="cvTitle">Simon Da Vall</p>

    
    <!-- CV Header end -->
    
    <!-- CV Profle -->
    <div class="cvSection">
        <a name="cvProfile"></a>
        <h3>Profile</h3>
        <p>A highly successful <strong>C# / ASP.Net Analyst Programmer</strong>, with over <strong>12 years</strong> experience, acquired across a diverse range of industries in a series of demanding roles. Proven success delivering projects under pressurised conditions. Whilst having the skills and confidence to work effectively as an individual, has the communication and collaboration skills required to work productively in a project team environment. With the ability to hit the ground running, is now seeking the next challenging and rewarding opportunity to demonstrate substantial abilities and make an effective contribution in a successful, end user focussed team.</p>
    </div>
    <div class="cvSection">
        <a name="cvEducation"></a>
        <h3>Education</h3>
        <p>1994 - BEng (Hons.) Aeronautical Engineering at Imperial College, London University.</p>
    </div>
    <div class="cvSection">
        <h3>Prof Quals</h3>
        <ul class="cvList">
            <li>Microsoft Certified Professional Developer (MCPD) – Enterprise Applications Developer.</li>
            <li>Microsoft Certified Technology Specialist (MCTS) –  C# 2.0 / ASP.NET 2.0 Development.</li>
            <li>Microsoft Certified Professional (MCP) – Desktop and Distributed Windows Applications.</li>
            <li>Professional Member of British Computer Society.</li>
            <li>Fully qualified PRINCE2 Practitioner.</li>
            <li>Sitecore Developer Level 1 & 2</li>
        </ul>
    </div>
    <div class="cvSection">
        <a name="cvExpertise"></a>
        <h3>Expertise</h3>
        <ul class="cvList">
            <li>C#, ASP.NET, .Net Framework 1.1, 2, 3.5</li>
            <li>AGILE Development.</li>
            <li>HTML, CSS, JavaScript, XSLT</li>
            <li>COM(+)</li>
            <li>ADO.NET, XML & related</li>
            <li>SQL Server(7/2000/2005)</li>
            <li>Design Patterns. Object Orientated Analysis & Design.</li>
            <li>Data Migration techniques.</li>
            <li>Optimization techniques.</li>
        </ul>
    </div>
    <div class="cvSection">
        <a name="cvAchievements"></a>
        <h3>Achievements</h3>
        <ul class="cvAchievements">
            <li><strong>The Open Golf Championship 2008</strong> – Lead developer on the successful development of the official website for The Open Golf Championship 2008. Over 12 million unique hits during the live event. Innovative concepts included Image Flow player profiles, Interactive World Map, and Timeline feature. The site was extremely well received by the R & A and the golf community.</li>
            <li><strong>Manchester United international websites</strong> – Senior Developer for the release of Manchester United’s official international web sites for Korea, Japan and China. Particularly aggressive deadlines were adhered to.</li>
            <li><strong>MCN and Today’s Golfer websites</strong> – Senior role in the development and delivery of two flagship magazine websites for a major publishing house, interfacing CMS, Community, Analysis & Indexing systems seamlessly to a single ‘white-labelled’ web application.</li>
            <li><strong>Asyst For Schools</strong> – Lead developer and project manager for the development of a Schools Administration system for a leading independent school. This software was subsequently adopted by eight other independent schools.</li>
            <li><strong>Greenbean Software Suite</strong> – Successfully renovation of classic ASP work-based learning software to .Net Framework using C#/ASP.NET, providing a first commercial offering in an extensible suite of software. There are now five complementary products that comprise the range based on the architecture used in the original conversion.</li>
        </ul>
    </div>
    <!-- CV Profile end -->

    <!-- CV Work Experience -->
    <div class="cvSection">
        <a name="cvExperience"></a>
        <h3>Work Experience</h3>
        <div class="cvJob">
            <p class="cvClient bluelinks">
                <a href="http://www.cabotaviation.com/">Cabot Aviation</a>, Reigate
                <span class="cvWorkTimeSpan">(Aug 2008 – Feb 2009)</span>
            </p>
            <p class="cvRole">Contract Analyst / Programmer</p>
            <!--        <p class="cvSkills>Key Skills Required: C# / Web Services / ASP.NET</p>
-->        <p class="cvJobDescription">Following a successful contract period with Cabot in 2007, I was re-engaged to write a series of web services to enable synchronisation of client and sales data to the central system from remote locations. Technologies applied included .Net Framework 3.5, C#, Web Services, Visual Studio Team Suite 2008.</p>
        </div>

        <div class="cvJob">
            <p class="cvClient bluelinks">
                <a href="http://www.imgworld.com/">IMG Digital Media</a>, London
                <span class="cvWorkTimeSpan">(Oct 2007 – Aug 2008)</span>
            </p>
            <p class="cvRole">Contract Analyst / Programmer</p>
            <!--        <p class="cvSkills>Key Skills Applied: C# 2005 / ASP.NET 2.0 / XSLT / Sitecore / Agile</p>
-->        <p class="cvJobDescription"><strong><a href="http://www.opengolf.com/">Open Golf Championship 2008</a></strong> - Lead Developer for the development of the official Open Golf Championship 2008 (www.opengolf.com). Technologies employed Agile, C#, XSLT, CMS (Sitecore), Team Foundation Server 2005, Media Streaming, Akamai caching, Ajax, XML streaming provided live scoring and statistics from data supplied by Unisys. Continuous integration using a dedicated build server. Unit testing was employed throughout.</p>
            <p class="cvJobDescription"><strong>IMG Media Library</strong> – Lead Developer for an in-house Media Library. The library stored all forms of media for use on numerous client websites. Pitch-side uploads from sporting events, and syndication. (Images, audio, video, podcast, RSS etc). Techniques employed Agile, C#’, Team Foundation Server 2005, Continuous Integration, Microsoft Enterprise Application Blocks (Exception Handling, Logging, Policy Injection and Security Application Blocks were all integrated). 100% code coverage unit testing.</p>
            <p class="cvJobDescription"><strong><a href="http://www.manutd.com/">Manchester United</a></strong> - Senior Developer for the delivery of three Manchester United international sites to the Far East. (China, Korea and Japan). Links to the sites appear on the official site www.manutd.com . Techniques employed Agile, C#, Subversion source control. XSLT, CMS (Sitecore), HTML, CSS, AJAX.</p>
        </div>
      
        <div class="cvJob">
            <p class="cvClient bluelinks">
                <a href="http://www.cabotaviation.com/">Cabot Aviation</a>, Reigate
                <span class="cvWorkTimeSpan">(May 2007 – Oct 2007)</span>
            </p>
            <p class="cvRole">Contract Analyst / Programmer</p>
            <!--        <p class="cvSkills>Key Skills Applied: C# 2005 / ASP.NET</p>
-->        <p class="cvJobDescription">Leading a small team, integrating three disparate systems, providing secure remote access for sales team. Sales (bespoke SQL Server based), HR (Snowdrop) & Accounts (Access Accounting)..Net Framework 3.0, C#, ASP.Net, AJAX.Net, Visual Studio Team Suite 2005.</p>
        </div>
      
        <div class="cvJob">
            <p class="cvClient bluelinks">
                <a href="http://www.lbi.com/en/">LBi Ltd</a>, London
                <span class="cvWorkTimeSpan">(Nov 2006 – Apr 2007)</span>
            </p>
            <p class="cvRole">Contract Analyst / Programmer</p>
            <!--        <p class="cvSkills>Skills Applied: C# 2005 / Web Services / ASP.NET</p>
-->        <p class="cvJobDescription"><strong>EMap (MCN & Today's Golfer)</strong> - Worked on one of the company’s most prolific client projects (EMap) helping develop to launch two websites (www.motorcyclenews.com and www.todaysgolfer.co.uk). Both sites were successfully delivered, significantly increasing the client’s subscription base. The ‘white label’ approach to the project will allow the client to easily incorporate other magazines in its portfolio. Technologies employed during the development were EpiServer (Content Management System), Star Community (Community Software), Endeca (Information Access Platform), ASP.NET 2.0, C#2.0, Team Foundation Server 2005, SQL Server 2005, extensive XML, AJAX, WebServices, Multimedia streaming. Complete separation of presentation and code layers. Design patterns applied to allow flexibility to add further magazines without base code changes.</p>
        </div>
      
        <div class="cvJob">
            <p class="cvClient bluelinks">
                <a href="http://www.webbedsolutions.co.uk/">Webbed Solutions Ltd</a>, London
                <span class="cvWorkTimeSpan">(Sep 2005 – Nov 2006)</span>
            </p>
            <p class="cvRole">Project Manager / Contract Developer</p>
            <!--        <p class="cvSkills>Skills Applied: C# 2005 / Web Services / ASP.NET / SQL Server 2005</p>
-->        <p class="cvJobDescription"><strong>Commercial Application Development</strong> - Managing a small development team, three developers, to the successful delivery of a sales management system. Based around the existing functionality of a legacy system, a contact management database created with hooks into the sales order system and the accounts sales ledger. This role included a significant amount of hands on development.</p>
            <p class="cvJobDescription">Integration of Microsoft Enterprise Jan 2006 Application Blocks (Data Access, Encryption and Security blocks).</p>
        </div>
  	  
        <div class="cvJob">
            <p class="cvClient bluelinks">
                <a href="http://www.asyst.co.uk/">Asyst Solutions Ltd</a>, London
                <span class="cvWorkTimeSpan">(Jan 1998 – Aug 2005)</span>
            </p>
            <p class="cvRole">Associate Director for Technical Services</p>
            <!--        <p class="cvSkills>Skills Applied: C# 2005 / Web Services / ASP.NET</p>
-->        <p>Joined Asyst in 1998 as a Consultant Programmer, progressing through roles of Senior Consultant, Principal Consultant, Technical Architect to the role of Associate Director. Worked on a number of business critical projects, using a variety of development tools and products, across a wide range of industries. Listed below, and briefly described, is a selection of key projects in which I was significantly involved.</p>
            <p class="cvJobDescription"><strong>Asyst Commercial Software Suite (2002 - 2005) - Project Manager / Technical Architect</strong> - The <strong>Greenbean Software Suite</strong> is Asyst’s commercial software offering. Fully integrated to their parent company’s accounting package, Access Accounts. The initial offering stemmed from my test case conversion of the classic ASP Work Based Learning software to .Net Framework using C#/ASP.NET. Following implementation at BEA Systems to support their training division, Asyst commissioned a further four modules to complete the suite. The original data base-class library written for the WBL software was re-used without alteration for the entire suite of software.</p>
            <p class="cvJobDescription"><strong>St Paul’s School, Barnes (1998 – 2000 & 2003 - 2004) - Technical Architect / Lead Developer</strong> - Full design and development lifecycle of a Schools Administration System. I was the sole developer on this project responsible for the entire delivery of a fully featured administration system. Tracking the students’ school career from initial enquiry by parents, through school based activities and examinations, to post school education, career, and activities. Using client/server technology, I designed a distributed component based system (ActiveX/COM), in order to deliver additional features over the course of time, with minimal disruption.</p>
            <p class="cvJobDescription">Following five successful years of operation, the school wished to upgrade to a .Net based system. I was responsible for the entire conversion using C# / ASP.NET and ADO.NET.</p>
            <p class="cvJobDescription">The system was sold by agreement, to an additional eight schools throughout the country. I project managed each of these implementations.</p>
        </div>
    </div>
    <!-- CV Work Experience end -->

    <!-- CV Interests -->
    <div class="cvSection">
        <a name="cvInterests"></a>
        <h3>Interests</h3>
        <p><strong>Rugby</strong> - I have played for Blackheath, Beckenham, Brighton and Hammersmith & Fulham.</p>
        <p>My other interests include Skiing & Snowboarding, Cycling, Technology, Reading and Music.</p>
    </div>
    <!-- CV Interests end -->

    <!-- CV References -->
    <div class="cvSection">
        <h3>References</h3>
        <p>Excellent references provided upon request.</p>
    </div>
    <!-- CV References end -->
    <!-- CV end -->
      
</div>

<!-- end of contentColumn section -->
<div id="rightdevices">
    <div class="bluebox bluelinks">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="#cvProfile">Profile</a></li>
            <li><a href="#cvEducation">Education</a></li>
            <li><a href="#cvExpertise">Expertise</a></li>
            <li><a href="#cvAchievements">Achievements</a></li>
            <li><a href="#cvExperience">Work Experience</a></li>
            <li><a href="#cvInterests">Interests</a></li>
        </ul>
    </div>
    <img class="bluebox_base" alt="Bluebox bottom" src="~/images/bluebox_btmcap.gif" />
    <img class="greybox_topcap" src="~/images/greybox_topcap.gif" width="198" height="6" alt="" border="0" />

    <div class="centered greybox">
        <img src="~/images/MCPD_Logo_grey.gif" alt="Microsoft Certified Professional Developer" />
        <p>
            <div class="mcTitle">Enterprise Applications Developer</div>    
        </p>
    </div>
    <img class="greybox_btmcap" src="~/images/greybox_btmcap.gif" width="198" height="9" alt="" border="0"  />
    <img class="greybox_topcap" src="~/images/greybox_topcap.gif" width="198" height="6" alt="" border="0" />
    
    <div class="centered greybox">
        <img src="~/images/MCTS_Logo_grey.gif" alt="Microsoft Certified Technical Specialist" />
        <p class="mcTitle">.Net Framework 2.0</p>    
        <p class="mcText">
            Windows Applications<br />    
            Distributed Applications<br />    
            Web Applications</p>    
    </div>
    <img class="greybox_btmcap" src="~/images/greybox_btmcap.gif" width="198" height="9" alt="" border="0"  />    
    <img class="greybox_topcap" src="~/images/greybox_topcap.gif" width="198" height="6" alt="" border="0" />
    
    <div class="centered greybox">
        <img src="~/images/p2logo.gif" alt="Prince2 Practitioner Qualified" />
        <p class="mcTitle">Prince2 Practitioner</p>       
    </div>
    <img class="greybox_btmcap" src="~/images/greybox_btmcap.gif" width="198" height="9" alt="" border="0"  />    
    <img class="greybox_topcap" src="~/images/greybox_topcap.gif" width="198" height="6" alt="" border="0" />
    
    <div class="centered greybox">
        <img src="~/images/bcslogo.gif" alt="BCS Professional Member" />
        <p class="mcTitle">Professional Member</p>       
    </div>
    <img class="greybox_btmcap" src="~/images/greybox_btmcap.gif" width="198" height="9" alt="" border="0"  />    
</div>
<!-- end of rightDevices section -->
</div>
<!-- end of mainContent section -->  
<div id="footer">
    <div id="footernav">
        <a href="index.htm">HOME</a> | <a href="services.htm">SERVICES</a> | <a href="clients.htm">
            CLIENTS</a> | <a href="cv.htm">CV</a> | <a href="contactus.htm">CONTACT US</a>
    </div>
    <p>&copy;2009 <a href="index.htm">Hereford Securities Ltd</a></p>
</div>
<!-- end of footer section -->
</div>
<!-- end of container section -->

</body>
</html>
