@model IEnumerable<Qualification>
           
@{
    foreach (var qualification in Model)
    {
        <div class="panel @qualification.AdditionalCssClass">
            <div class="panel-body">
                <img class="img-responsive-qualification" src="@qualification.ImageLink" alt="@qualification.ImageAltText" />
                <p class="mcTitle">
                    @qualification.Title
                </p>
                <p class="mcText">
                    @Html.Raw(qualification.Text)
                </p>
            </div>
        </div>
    }
}

