
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h4>@Html.ActionLink("SiteData", "Index", "SiteDatas")</h4>
<h4>@Html.ActionLink("Services Images", "Index", "ServiceImages")</h4>
<h4>@Html.ActionLink("Services Provided", "Index", "ServiceProvideds")</h4>
<h4>@Html.ActionLink("Websites", "Index", "Websites")</h4>
<h4>@Html.ActionLink("Work Experiences", "Index", "WorkExperiences")</h4>
<h4>@Html.ActionLink("Achievements", "Index", "Achievements")</h4>
