@model IndexViewModel
<section id="workExperience">
    <h3>Work Experience</h3>
    @{
        foreach (var workExperience in Model.RecentWorkExperiences)
        {
            <div class="cv-job">
                <p class="cv-client">
                    <a data-toggle="collapse" href="@workExperience.JobIdPointer"><i class="fa fa-angle-down" aria-hidden="true"></i>@workExperience.Client</a>
                    <span class="cv-datespan">@workExperience.FormatedDateSpan</span>
                    @workExperience.ClientAdditional
                    <span class="client-weblink hidden"><a href="@workExperience.ClientWeblink" target="_blank">client website</a></span>
                </p>
                <div id="@workExperience.JobId" class="cv-job-detail collapse">
                    <p class="cv-role">@workExperience.Position</p>
                    <p class="cv-skills">Key Skills: @workExperience.KeySkills</p>

                    @if (workExperience.Websites != null && workExperience.Websites.Count > 0)
                    {
                        <div class="cv-website">
                            <span>Websites:</span>
                            <ul>
                                @foreach (var website in workExperience.Websites)
                                {
                                    <li><a href="@website.Sitelink" target="_blank">@website.Sitename</a></li>
                                }
                            </ul>

                        </div>
                    }

                    @Html.Raw(workExperience.Narrative)
                </div>
            </div>
        }
    }

    <section id="otherWork">
        <h3 class="black-links">
            <a href="#otherJobs" data-toggle="collapse"><i class="fa fa-angle-down" aria-hidden="true"></i>Other Contracts and Employment</a>
        </h3>
        <div id="otherJobs" class="collapse">
            @{
                foreach (var workExperience in Model.ArchivedWorkExperiences)
                {
                    <div class="cv-job">
                        <p class="cv-client">
                            <a href="@workExperience.ClientWeblink" target="_blank">@workExperience.Client</a>
                            <span class="cv-datespan">@workExperience.FormatedDateSpan</span>
                            <span class="client-footnote">@Html.Raw(workExperience.ClientAdditional)</span>
                        </p>
                        <div class="cv-job-detail">
                            <p class="cv-role">@workExperience.Position</p>
                            <p class="cv-skills">Key Skills: @workExperience.KeySkills</p>
                            @if (workExperience.Websites != null && workExperience.Websites.Count > 0)
                            {
                                <div class="cv-website">
                                    <span>Websites:</span>
                                    <ul>
                                        @foreach (var website in workExperience.Websites)
                                        {
                                            <li><a href="@website.Sitelink" target="_blank">@website.Sitename</a></li>
                                        }
                                    </ul>

                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </section>
</section>
