@model IndexViewModel

<div id="main-body">

    <div class="row">
        <section id="main" class="cvMain col-md-8 col-sm-9">
            <div class="main-body-title">
                <h4>Curriculum Vitae</h4>
                <p class="pdf-download">
                    <img class="pdf-image" src="~/content/images/download.png" alt="" width="9" height="10" />
                    <a class="pdf-download" href="~/content/downloads/SimonDaVall-CV.pdf" target="_blank">Download pdf version</a><br />
                </p>
            </div>
            <div id="cvProfile" class="cv-title">@Model.SiteData.Name</div>
            <p class="lead">
                @Html.Raw(Model.SiteData.IntroLead)
            </p>
            @Html.Raw(Model.SiteData.Intro)
            <section id="cvEducation">
                <h3>Education</h3>
                @Html.Raw(Model.SiteData.Education)
            </section>
            <section>
                <h3>Professional Qualifications</h3>
                @Html.Raw(Model.SiteData.ProfessionalQuals)
            </section>
            <section id="cvExpertise">
                <h3>Expertise</h3>
                @Html.Raw(Model.SiteData.Expertise)
            </section>
            <p>
                <a id="cv-achievements" class="smoothscroll" href="#topOfPage">Back to top</a>
            </p>
            @Html.Partial("_Achievements", Model.Achievements)
            <p>
                <a id="cvExperience" class="smoothscroll" href="#topOfPage">Back to top</a>
            </p>
            @Html.Partial("_WorkExperience", Model)
            <p>
                <a id="cvInterests" class="smoothscroll" href="#topOfPage">Back to top</a>
            </p>
            <section>
                <h3>Interests</h3>
                @Html.Raw(Model.SiteData.Interests)
            </section>
        </section>
        <section id="sidebar" class="sidebar col-md-3 col-sm-3 hidden-xs">
            @Html.Partial("_PageLinks")
            @Html.Partial("_Qualifications" , Model.Qualifications)
        </section>
    </div>
</div>