
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

@Html.ActionLink("HOME", "Index") | @Html.ActionLink("SERVICES", "Services") | @Html.ActionLink("CONTACT", "ContactMe") <br />
@Html.ActionLink("LEGACY HOME", "LegacyHome") | @Html.ActionLink("LEGACY SERVICES", "LegacyServices") | @Html.ActionLink("LEGACY CONTACT", "LegacyContactMe")