@model ServicesViewModel
@{
    ViewBag.Title = "Services";
}

<div>
    <div class="row">
        <section id="main" class="contact-main col-md-8 col-sm-9">
            <h4 class="main-body-title">Services</h4>
            <div class="services-main">
                @{
                    var counter = 0;
                    foreach (var serviceProvided in Model.ServicesProvided)
                    {
                        <div class="service">
                            <h3>@serviceProvided.Title</h3>
                            <img class="@Model.ImageStyle(counter++) img-thumbnail white-border" src="@serviceProvided.ImageLink" alt="@serviceProvided.ImageAltText"/>
                            @Html.Raw(serviceProvided.Narrative)
                        </div>
                    }
                }
            </div>
        </section>
        <section id="sidebar" class="sidebar col-md-3 col-sm-3 hidden-xs">

            @Html.Partial("_UsefulLinks")

            @Html.Partial("_Qualifications", Model.Qualifications)
            
        </section>
    </div>
</div>

