@model HerefordSecuritiesLtd.Entities.WorkExperience

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientWeblink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientWeblink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAdditional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAdditional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeySkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeySkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Narrative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Narrative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteDataId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteDataId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRecent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRecent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
